body{
            .botones { display: flex;
            justify-content: :spac-between;margin:2px;}

            .boton{   
            background-color:transparent;
            border:none;padding:20px;font-size:24px;
            cursor:pointer;text-decoration:none;}

            .icono1{display:inline-block;width:20px;height:20px;border radius:50%;
            background-color:#D20103;border-radius:50%}
            .icono2{display:inline-block;width:20px;height:20px;border radius:50%;
                background-color:#7DDA58;border-radius:50%}
            .icono3{display:inline-block;width:20px;height:20px;border radius:50%;
                    background-color:#808080;border-radius:50%;}
            .icono4{display:inline-block;width:20px;height:20px;border radius:50%;
                        background-color:#808080;border-radius:50%}
    

    }
